{% extends "base.html" %}
{% block content %}

<!-- Header section for page -->
<div class="row top-menu">
    <div class="col-md-12 col-lg-12 text-center">
        <button onclick="toggle_left_panel()" class="btn btn-success">Toggle Image Gallery</button>
  </div>
</div>

<div class="row divider metallic padding-none margin-bottom">
    <div class="col-md-12"></div>
</div>


<!-- Main page content for image uploads and displaying predictions -->
<div class="row">

  <div id="left_panel" class="col-md-6 text-center">
    <div>
        <!-- image upload part -->
        <div id="upload" class="row">
          <h3>Upload image: &nbsp</h3>
          <form method=post action="{{ url_for('make_prediction') }}" enctype=multipart/form-data>
            <div class='form-group text-center'>
              <label class="btn btn-success btn-file">
                  Browse <input type="file" name=file style="display: none;" accept="image/*" onchange="this.form.submit();">
              </label>
              <button type="submit" style="display: none;"></button>
            </div>
          </form>
        </div>

        <!-- prediction -->
        {% if show_image %}
          <div id="prediction" class="row">
            <div class="col-md-12 text-center">
                <h4>
                    <span style="color:red">Breed: {{dog_label}}</span>
                </h4>
            </div>
          </div>
          <!-- render uploaded image -->
          <div class="row" style="margin-top: 15px">
            <div class="col-sm-12 col-md-12">
              <a href="{{cur_image_path}}" data-toggle="lightbox">
                <img class="img-responsive uploaded centered" src="{{cur_image_path}}" >
              </a>
            </div>
          </div>
        {% endif %}

    </div>
  </div>

  <!-- gallery part -->
  <div id="right_panel" class="col-md-6 text-center">
      <h3>Recent images <span>({{images|length}} / {{num_stored_images}})</span></h3>
      <div class="row gal">
        {% for image in images %}
          <div class="col-md-4 col-sm-6 col-xs-6" style="margin-top: 10px;">
            <p>
                <span style="color:blue">{{image['label']}}</span>
                {{image['prob']}}
            </p> 
              <a href="{{image['path']}}" data-toggle="lightbox"
                 data-title="Best Prediction: {{image['label']}}</span>"
                 data-footer="Probability: {{image['prob']}}">
                <img class="img-responsive gal" src="{{image['path']}}">
              </a>

          </div>

        {% endfor %}

      </div>
  </div>
</div>

{% endblock %}